Name: Chris Zymon P. Biado

Section:M009

1

```
*
* *
* * *
* * * *
```

In [37]:
num = 4
for num in range(num+1):
    print(" * " * num)
print()

 *
 *  *
 *  *  *
 *  *  *  *

2
```
1
0 1
0 1 2
0 1 2 3

In [20]:
for row in range(4):
    for col in range(row+1):
        print(col, " ", end="")
    print()

0
0  1
0  1  2
0  1  2  3

3.
```
* * * * *
* * * * 
* * * 
* * 
* 
```

In [35]:
for num in range(4, -1, -1):
    for col in range(num+1):
        print("*", "", end=" ")
    print()

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

4
```
0 1 2 3 4 5
0 1 2 3 4 
0 1 2 3 
0 1 2 
0 1 
0 
```

In [36]:
for num in range(5, -1, -1):
    for col in range(num+1):
        print(col, "", end=" ")
    print()

0  1  2  3  4  5
0  1  2  3  4
0  1  2  3
0  1  2
0  1
0